 .u-section-1 {
  min-height: 187px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 88px auto 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 983px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 797px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 645px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_044525_Create_an_illustration_that_depicts_the_political_turmoil_and_conflict_in_Chile_during_the_1970s__highlighting_the_pivotal_events_such_as_the_National_Stadium_tragedy_and_General_Pinochet_s_coup__.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 235px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 32px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-3 {
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 2258px;
}

.u-section-3 .u-text-1 {
  margin: 93px 0 0;
}

.u-section-3 .u-image-1 {
  width: 450px;
  height: 450px;
  margin: 169px auto 0 26px;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  margin: -435px 26px 0 513px;
}

.u-section-3 .u-icon-1 {
  width: 27px;
  height: 27px;
  transition-duration: 0.75s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  color: rgb(127, 171, 218) !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 218px 294px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: -90px 245px 0 210px;
}

.u-section-3 .u-tabs-1 {
  min-height: 406px;
  width: 1140px;
  height: auto;
  margin: 45px -14px 0 auto;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 48px;
}

.u-section-3 .u-group-1 {
  width: 1021px;
  min-height: 507px;
  height: auto;
  margin: 213px auto 60px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 14px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: none;
  margin: 24px auto 0 34px;
  padding: 30px 81px 30px 79px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: -88px 37px 0 auto;
  padding: 30px 48px 30px 46px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1862px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 145px;
    margin-left: 110px;
  }

  .u-section-3 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    height: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 119px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 225px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-3 .u-tabs-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 169px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-tabs-1 {
    width: 540px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -325px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 106px;
  }

  .u-section-3 .u-tabs-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-block-94ee-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-94ee-3 {
  position: absolute;
  left: 0;
}

.u-block-94ee-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_104758__Create_an_image_that_portrays_the_hypothetical_alternate_reality_where_the_1970_Chilean_Presidential_Election_never_happened__leading_to_a_different_political_and_social_landscape_in_Chile__Depic.png");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-4-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 307px auto 0;
}

.u-section-4-1 .u-text-2 {
  margin: 26px auto 0 -14px;
}

.u-section-4-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 867px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 664px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 498px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-5 {
  background-image: url("images/default-image.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 3071px;
}

.u-section-5 .u-text-1 {
  margin: 104px 0 0;
}

.u-section-5 .u-text-2 {
  transition-duration: 0.5s;
  margin: 104px 0 0 502px;
}

.u-section-5 .u-image-1 {
  width: 392px;
  height: 392px;
  margin: -446px auto 0 35px;
}

.u-section-5 .u-text-3 {
  width: 686px;
  margin: 188px auto 0;
}

.u-section-5 .u-icon-1 {
  width: 27px;
  height: 27px;
  transition-duration: 0.75s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  color: rgb(127, 171, 218) !important;
  margin: -42px 279px 0 auto;
  padding: 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 406px;
  width: 1140px;
  height: auto;
  margin: 42px -26px 0 auto;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 22px 25px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-tab-pane-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-5 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-tab-pane-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-group-1 {
  width: 1021px;
  min-height: 809px;
  height: auto;
  margin: 90px auto 60px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 14px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 26px auto 0 44px;
  padding: 30px 81px 30px 79px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 57px auto 0 271px;
  padding: 27px 48px 28px 47px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 2532px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 302px;
  }

  .u-section-5 .u-icon-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-5 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-btn-1 {
    height: 50px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1939px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 214px;
  }

  .u-section-5 .u-tabs-1 {
    width: 720px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 161px;
  }

  .u-section-5 .u-tabs-1 {
    width: 540px;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 101px;
  }

  .u-section-5 .u-tabs-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before,
.u-section-5 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before,
.u-section-5 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover .u-block-0da0-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover .u-block-0da0-20:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover .u-block-0da0-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]),
.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]).u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.3) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover .u-block-0da0-28:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1.3) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0) !important;
}.u-block-1099-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-1099-3 {
  position: absolute;
  left: 0;
}

.u-block-1099-4 {
  position: absolute;
  right: 0;
}

 .u-section-6-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_233755_Create_an_artwork_that_imagines_a_future_where_President_Allende_s_socialist_government_was_allowed_to_continue_its_reforms_in_Chile__How_would_the_country_look_today_if_it_had_become_a_more_socia.png");
  background-position: 50% 50%;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-6-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 307px auto 0;
}

.u-section-6-1 .u-text-2 {
  margin: 26px auto 0 -14px;
}

.u-section-6-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-6-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-6-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_234210_Create_an_artwork_that_envisions_the_potential_political_and_social_instability_that_Chile_could_have_experienced_if_Salvador_Allende_s_government_faced_opposition_and_was_unable_to_sustain_its_pr.png");
  background-position: 50% 50%;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-6-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-7 {
  background-image: url("images/default-image.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 2774px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 99px 0 0;
}

.u-section-7 .u-text-2 {
  transition-duration: 0.5s;
  margin: 117px 42px 0 460px;
}

.u-section-7 .u-image-1 {
  width: 429px;
  height: 429px;
  margin: -504px auto 0 -11px;
}

.u-section-7 .u-icon-1 {
  width: 27px;
  height: 27px;
  transition-duration: 0.75s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  color: rgb(127, 171, 218) !important;
  margin: 200px 307px 0 auto;
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: -89px 260px 0 194px;
}

.u-section-7 .u-tabs-1 {
  min-height: 786px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-pane-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-7 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-7 .u-tab-pane-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-7 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-tab-pane-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-7 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-group-1 {
  width: 1021px;
  min-height: 809px;
  height: auto;
  margin: 125px 42px 60px auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 14px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 41px auto 0;
  padding: 30px 81px 30px 79px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 27px 48px 28px 47px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 2287px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 302px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 160px;
    margin-left: 94px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-7 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1752px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 235px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 176px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 111px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }
}

.u-section-7 .u-text-2,
.u-section-7 .u-text-2:before,
.u-section-7 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-icon-1,
.u-section-7 .u-icon-1:before,
.u-section-7 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-7 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-7 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-block-da6b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-da6b-3 {
  position: absolute;
  left: 0;
}

.u-block-da6b-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-8-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_122525__Create_a_photo_that_captures_the_impact_of_the_National_Stadium_Incident_on_Chile_s_history_and_the_victims_of_Pinochet_s_regime__The_photo_should_depict_how_this_event_exposed_human_rights_abuse.png");
  background-position: 50% 50%;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-8-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 307px auto 0;
}

.u-section-8-1 .u-text-2 {
  margin: 26px auto 0 -14px;
}

.u-section-8-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-8-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-8-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_123723_Prompt___Create_a_photo_that_depicts_the_lasting_impact_of_the_evidence_of_human_rights_abuses_at_the_National_Stadium_on_the_political_and_social_landscape_of_Chile__and_how_it_contributed_to_Pin.png");
  background-position: 50% 50%;
}

.u-section-8-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-8-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-8-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-8-2 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-9 {
  background-image: url("images/default-image.jpg");
}

.u-section-9 .u-sheet-1 {
  min-height: 2873px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 160px 16px 0;
}

.u-section-9 .u-text-2 {
  transition-duration: 0.5s;
  margin: 107px 18px 0 484px;
}

.u-section-9 .u-image-1 {
  width: 438px;
  height: 478px;
  margin: -684px auto 0 14px;
}

.u-section-9 .u-text-3 {
  width: 686px;
  margin: 251px auto 0;
}

.u-section-9 .u-icon-1 {
  width: 27px;
  height: 27px;
  transition-duration: 0.75s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  color: rgb(127, 171, 218) !important;
  margin: -37px 277px 0 auto;
  padding: 0;
}

.u-section-9 .u-tabs-1 {
  min-height: 406px;
  height: auto;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-9 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-9 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-9 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-9 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-9 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-9 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-9 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-9 .u-tab-pane-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-9 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-tab-pane-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-9 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

.u-section-9 .u-tab-pane-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-9 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-tab-pane-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-9 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-tab-pane-5 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-9 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-group-1 {
  width: 1021px;
  min-height: 633px;
  height: auto;
  margin: 147px auto 60px;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-9 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-10 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 14px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 41px auto 0;
  padding: 30px 81px 30px 79px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 27px 48px 28px 47px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 2369px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 302px;
  }

  .u-section-9 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-9 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1815px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-9 .u-icon-1 {
    margin-right: 212px;
  }

  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    width: 540px;
  }

  .u-section-9 .u-icon-1 {
    margin-right: 159px;
  }

  .u-section-9 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-9 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-9 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-9 .u-tab-link-5 {
    font-size: 1rem;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 371px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    width: 340px;
  }

  .u-section-9 .u-icon-1 {
    margin-right: 100px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }
}

.u-section-9 .u-text-2,
.u-section-9 .u-text-2:before,
.u-section-9 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-icon-1,
.u-section-9 .u-icon-1:before,
.u-section-9 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-9 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-9 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.62) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-9 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-9 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-block-73db-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-73db-3 {
  position: absolute;
  left: 0;
}

.u-block-73db-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-10-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_124145__Create_a_photo_that_illustrates_the_impact_of_the_arrest_and_release_of_General_Pinochet_on_human_rights_accountability_in_Chile_______.png");
  background-position: 50% 50%;
}

.u-section-10-1 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-10-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 307px auto 0;
}

.u-section-10-1 .u-text-2 {
  margin: 26px auto 0 -14px;
}

.u-section-10-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-10-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-10-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-10-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/craiyon_124427_Cayion_AI__create_a_photo_that_captures_the_significance_of_Pinochet_s_arrest_in_enabling_Chile_to_confront_its_past_and_address_human_rights_abuses__Consider_incorporating_symbols_of_justice__acc.png");
  background-position: 50% 50%;
}

.u-section-10-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-10-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-10-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-10-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10-2 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-10-2 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-10-2 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-10-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-10-2 .u-text-1 {
    font-size: 3.75rem;
  }
}